<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
    rel="stylesheet" />
<div class="min-h-screen">
    <div class=" mx-auto px-4 mb-6 flex items-center gap-2 text-xs font-medium uppercase tracking-wide">

        <span class="material-symbols-outlined text-sm"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke-width="0.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m7.49 12-3.75 3.75m0 0 3.75 3.75m-3.75-3.75h16.5V4.499" />
            </svg>
        </span>
        <a routerLink="/" class="hover:underline text-gray-500">Trang chủ</a>
        <span class="text-gray-400">/</span>
        
        <span *ngIf="[1, 2, 3].includes(this.product()?.categoryId ?? 0)">
            <a [routerLink]="['/category',123]" class="hover:underline text-gray-500">Giày bóng đá</a>
            <span class="text-gray-400"> /</span>
        </span>


        <a [routerLink]="['/category',this.product()?.categoryId]"
            class="hover:underline text-gray-500">{{this.product()?.categoryName}}</a>
    </div>

    <div class=" mx-auto px-0 lg:px-4 grid grid-cols-1 lg:grid-cols-12 gap-0 lg:gap-10">

        <div class="lg:col-span-8 order-2 lg:order-1">

             <div class="w-full max-w-4xl relative bg-[#ECEDED] group cursor-zoom-in overflow-hidden rounded-sm shadow-sm mx-auto">

        <div class="absolute top-6 left-6 z-10">
            <span class="bg-white text-black text-[11px] font-bold px-3 py-1.5 uppercase tracking-widest shadow-sm">
                Mới
            </span>
        </div>

                <div
                  class="w-full flex items-center justify-center">
                    <img [src]="this.product()?.imageUrl"
                
                        class=" w-full h-full object-contain object-center mix-blend-multiply p-8 md:p-16 lg:p-24 transition-transform duration-700 ease-out group-hover:scale-110"
                        [alt]="this.product()?.name || 'Chi tiết sản phẩm'">
                </div>
            </div>

            <div class="mt-10 px-4 lg:px-0">

                <div class="border-t border-gray-200">

                    <button (click)="toggleDescription()"
                        class="w-full py-6 flex justify-between items-center group hover:bg-gray-50 transition-colors px-2 select-none">
                        <span class="font-heading font-bold text-lg uppercase tracking-wide">
                            Mô tả sản phẩm
                        </span>

                        <span class="material-symbols-outlined transition-transform duration-300"
                            [class.rotate-180]="isDescriptionOpen()">
                            expand_more
                        </span>
                    </button>

                    <div class="grid transition-[grid-template-rows] duration-500 ease-out"
                        [class.grid-rows-[1fr]]="isDescriptionOpen()" [class.grid-rows-[0fr]]="!isDescriptionOpen()">
                        <div class="overflow-hidden">
                            <div class="pb-6 px-2 text-sm text-gray-700 leading-relaxed whitespace-pre-line">
                                {{ this.product()?.description || 'Đang cập nhật mô tả...' }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="border-t border-gray-200 border-b">
                </div>

            </div>
        </div>

        <div class="lg:col-span-4 order-1 lg:order-2 px-4 lg:px-0 mb-8 lg:mb-0 relative">
            <div class="lg:sticky lg:top-24 flex flex-col gap-6">

                <div class="flex justify-between items-start">
                    <span class="text-xs font-medium uppercase tracking-widest text-gray-500">{{this.product()?.brand}}</span>
                </div>

                <div>
                    <h1
                        class="font-heading font-bold text-3xl md:text-4xl uppercase leading-tight italic tracking-tight mb-2">
                        {{this.product()?.name}}</h1>
                    <p class="font-bold text-lg">{{this.product()?.price | number:'1.0-0' }}₫</p>
                </div>

                <div class="flex flex-col gap-3">

                    <div>
                        <span class="font-bold text-sm">Màu sắc: </span>
                        <span class="text-sm text-gray-600 font-medium">
                            {{ selectedColorId() || 'Đang tải...' }}
                        </span>
                    </div>

                    <div class="flex gap-2 flex-wrap">
                        @for (color of product()?.colors; track color.id) {
                        <button (click)="selectColor(color.id)"
                            class="w-16 h-16 p-0.5 bg-white border-b-2 transition-all duration-200 box-border group"
                            [class.border-black]="selectedColorId() === color.id"
                            [class.border-transparent]="selectedColorId() !== color.id"
                            [class.hover:border-gray-400]="selectedColorId() !== color.id"
                            [class.opacity-50]="selectedColorId()!== color.id"
                            [class.opacity-100]="selectedColorId() === color.id">
                            <img [src]="color.imageUrl" [alt]="color.name"
                                class="w-full h-full object-cover mix-blend-multiply">
                        </button>
                        }
                    </div>
                </div>

                <div class="bg-adidas-green text-white p-4 flex justify-between items-center rounded-sm">
                    <div>
                        <p class="font-bold text-xs uppercase tracking-wider mb-1 opacity-90">adiClub</p>
                        <p class="font-bold text-lg leading-none">VOUCHER GIẢM 10%</p>
                    </div>
                    <button class="text-xs font-bold underline hover:text-gray-200">sao chép mã</button>
                </div>

                <div>
                    <div class="flex justify-between items-end mb-2">
                        <p class="font-bold text-sm">Kích cỡ</p>
                        <button class="text-xs font-bold underline hover:no-underline">Biểu đồ kích cỡ</button>
                    </div>
                    
                    <div class="grid grid-cols-4 gap-1">
                        @for (s of product()?.sizes; track s.label) {
                        <button
                            class="h-10 border border-gray-200 hover:border-black text-sm font-medium transition-all">
                            {{s.label}}
                        </button>
                             }
                    </div>
                </div>

                <div class="border border-gray-300 p-3 flex gap-3 items-start text-sm">
                    <span class="material-symbols-outlined text-[20px]">straighten</span>
                    <div>
                        <span class="font-bold">Đúng kích cỡ.</span>
                        <span class="text-gray-600">Chúng tôi khuyên bạn nên đặt theo kích cỡ thông thường.</span>
                    </div>
                </div>

                <div class="flex gap-4 mt-2">
                    <button
                        class="flex-1 bg-black text-white h-12 font-bold uppercase tracking-widest hover:bg-gray-800 transition-colors flex items-center justify-between px-6 group shadow-lg">
                        <span>Thêm vào giỏ hàng</span>
                        <span
                            class="material-symbols-outlined transition-transform group-hover:translate-x-1">arrow_forward</span>
                    </button>
                    <button
                        class="w-12 h-12 border border-black flex items-center justify-center hover:bg-gray-50 transition-colors">
                        <span class="material-symbols-outlined">favorite_border</span>
                    </button>
                </div>

                <div class="flex flex-col gap-2 mt-4 text-xs font-bold underline uppercase">
                    <a href="#"
                        class="hover:bg-black hover:text-white inline-block w-fit px-1 py-0.5 transition-colors">Giao
                        hàng
                        miễn phí cho thành viên</a>
                    <a href="#"
                        class="hover:bg-black hover:text-white inline-block w-fit px-1 py-0.5 transition-colors">Trả
                        hàng dễ dàng trong 30 ngày</a>
                </div>

            </div>
        </div>
    </div>

    <section class="max-w-[1440px] mx-auto px-4 mt-20 border-t border-gray-200 pt-12 ">
    <h2 class="font-heading font-bold text-3xl uppercase italic mb-8">Có thể bạn cũng thích</h2>
    
    <div class="flex overflow-x-auto gap-4 pb-6 snap-x snap-mandatory scroll-smooth no-scrollbar">
        
        @for (pr of productRefer(); track pr.id) {
            @if(this.product()?.id !== pr.id) {
                
                <div class=" flex-shrink-0 w-[70vw] md:w-[calc(25%-12px)] snap-start group cursor-pointer">
                    
                    <div [routerLink]="['/product-detail', pr.id]"
                        class="relative bg-[#f5f5f5] aspect-square mb-3 overflow-hidden border border-transparent hover:border-black transition-all">
                        
                        <img [src]="pr.imageUrl"
                            class="w-full h-full object-cover mix-blend-multiply hover:scale-105 transition-transform duration-500"
                            [alt]="pr.name">

                        <div class="absolute top-2 right-2 cursor-pointer hover:text-red-500 z-10">
                            <span class="material-symbols-outlined text-xl">favorite_border</span>
                        </div>

                        <div class="absolute bottom-2 left-0 bg-white text-xs font-bold px-2 py-1 shadow-sm">
                            {{ pr.price | number:'1.0-0' }}đ
                        </div>
                    </div>

                    <p class="text-gray-500 text-[10px] uppercase tracking-wider mb-1">{{ pr.brand }}</p>
                    <h3 class="font-bold text-sm uppercase leading-tight group-hover:underline line-clamp-2">
                        {{ pr.name }}
                    </h3>
                </div>
            }
        }
    </div>
</section>
</div>