/* product-manager.component.css */

/* Tùy chỉnh thanh cuộn cho Webkit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e4e4e7; /* zinc-200 */
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1aa; /* zinc-400 */
}